<!DOCTYPE html>
<html>
<head>
    <title>new User</title>
</head>
<body>
<form method="post" action="/user">
    <input name="name" type="text"/>
    <input name="pwd" type="text"/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>